argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
construct==2.10.68
contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.2
future==0.18.3
idna==3.4
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.17
pykeepass==4.0.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
six==1.16.0
TA-Lib==0.4.25
urllib3==1.26.15
